<p id="notice"><%= notice %></p>
<div><%=@user.email%></div>
<div>
   	<% @user.roles.each do |r| %>
  		<%= r.name%></br>	
  	<% end %> 	
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
